:root {
	--border-color: #8f8f8f;
	--box-shadow-color: #8a8a8a;
	--dark-color: #000;
	--main-text-color: #0c9fa6;
	--white-color: #fff;
	--poppins: var(--poppins);
}

/* Start of my Custom codes */
body {
	font-family: var(--poppins);
}

.path-pva .pv-wrapper {
	display: grid;
	grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
	grid-gap: 0.3rem;
	text-align: center;
	font-size: 1.1rem;
}

.path-pva .pv-wrapper label {
	display: inline-block;
	max-width: 100%;
	word-wrap: break-word;
	padding: 0 0.5rem;
}

.path-pva .pv-wrapper .form-item:hover {
	transform: scale(0.98);
	box-shadow: 0.1rem 0.1rem 0.5rem var(--box-shadow-color);
	transition: all 0.5s ease;
	color: var(--main-text-color);
}

.path-pva #edit-intro-label {
	font-size: 2.4rem;
	font-weight: 600;
}

.path-pva .intro-container p {
	font-size: 1.2rem;
	margin: 3rem 0;
}

.path-pva .intro-text-pv {
	margin-bottom: 2rem;
	font-weight: 600;
	font-size: 1.2rem;
}

.path-pva .pv-wrapper .value-item-class {
	display: none;
}

.path-pva .pv-wrapper .form-item {
	display: inline-flex;
	align-items: center;
	/* word-break: break-all; */
	justify-content: center;
	align-self: center;
	color: var(--dark-color);
	cursor: pointer;
}

.path-pva .pv-wrapper .selected {
	box-shadow: 0.1rem 0.1rem 0.5rem var(--box-shadow-color);
	/* background-color: var(--color--primary-50); */
	/* font-weight: 700; */
	color: var(--main-text-color);
	transition: all 0.5s ease;
	padding: 0.5rem;
}

/* Hidden the word 'by' on each rendered content. */
.block__content .node__meta {
	display: none;
}

.popup-invisible {
	display: none;
}

.path-pva .fieldset__legend {
	background-color: var(--main-text-color);
	padding: 0.5rem 0;
	border-top-left-radius: unset;
	border-top-right-radius: unset;
}

.path-pva .fieldset {
	border-radius: unset;
	border: unset;
	box-shadow: 0.1rem 0.1rem 0.5rem var(--box-shadow-color);
}

/* Selected popup */
 @media (min-width: 1170px) and (max-width: 1599px) {
	.div-selected-popup {
  	right: 0;
	}
}

@media (min-width: 1600px) and (max-width: 1699px) {
	.div-selected-popup {
  	right: 12%;
	}
}

@media (min-width: 1700px) {
	.div-selected-popup {
  	right: 15%;
	}
}

.div-selected-popup {
	transition: all 0.5s ease;
	position: fixed;
	top: 30%;
	max-width: 11rem;
	text-align: center;
}

.div-selected-popup .fieldset__wrapper {
	padding: 1rem;
}

.div-selected-popup .current-selection {
	padding: 0.1rem 0;
	word-wrap: break-word;
	cursor: pointer;
	color: var(--main-text-color);
}

/* Init screen */

.path-frontpage .homepage-button-group {
	display: grid;
	grid-template-columns: 15rem 15rem;
	grid-gap: 2rem;
	text-align: center;
}

.path-frontpage .node__content {
	display: flex;
	justify-content: center;
}

.path-frontpage .wide-image {
	width: unset;
	margin: unset;
	margin-block-start: unset;
  margin-block-end: unset;
}

.path-frontpage .wide-image .field__label {
	display: none;
}

.path-frontpage .personal-group,
.path-frontpage .organizational-group {
	box-shadow: 0.1rem 0.1rem 0.5rem var(--box-shadow-color);
	padding: 1rem;
	cursor: pointer;
}

.path-frontpage .personal-group:hover,
.path-frontpage .organizational-group:hover {
	transition: all 0.5s ease;
	transform: scale(1.1);
}

.path-frontpage .personal-group .field--name-field-personal,
.path-frontpage .organizational-group .field--name-field-organizational {
	margin: 1.5rem 2rem 1rem 2rem;
	font-size: 1.2rem;
}

/* Hiden the search global */
.search-block-form {
	display: none;
}

.path-frontpage .personal-group .field--name-field-personal .field__label,
.path-frontpage .organizational-group .field--name-field-organizational .field__label {
	display: none;
}

.path-frontpage .field:not(:last-child) {
	margin-block-end: unset
}

.container-top {
	width: 0;
	height: 0;
	border-left: 10rem solid transparent;
	border-right: 10rem solid transparent;
	border-top: 18rem solid var(--border-color);
}

.container-bottom {
	width: 0;
	height: 0;
	border-left: 10rem solid transparent;
	border-right: 10rem solid transparent;
	border-bottom: 18rem solid var(--border-color);
}

.container-circle {
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;
	background-color: var(--border-color);
	margin: 1rem auto 0.75rem auto;
}

.parent-triangle {
	/*width: 49rem;*/
	display: grid;
	grid-template-columns: 49rem auto;
	margin: 0 auto;
}

.triangle-title-parent {
	font-size: 1.4rem;
	line-height: 5.2rem;
	font-weight: 600;
	color: var(--white-color);
	align-items: center;
}

.triangle-title-parent .triangle-title {
	display: grid;
	grid-template-columns: 14.5rem auto;
	border-bottom: 0.7rem solid var(--white-color);
	padding-left: 1rem;
}

.values-inline:hover {
	transition: all 0.5s ease;
	transform: scale(1.1);
}

.values-inline {
	background-image: linear-gradient(to bottom right,#0e0e0e,#2e2c2c,#040404);
	display: inline-block;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	margin-top: 1rem;
	border: 0.2rem solid;
}

.limiting-factor-class {
	background-image: linear-gradient(to bottom right,#f70a0a,#ef4444,#e10202);
	/* text-align: center;
	line-height: 2.8rem;
	font-size: 1.2rem; */
}

.triangle-title-parent .triangle-title .values-inline:hover::before {
  content: attr(title);
  position: absolute;
  top: -5rem;
  right: 3rem;
  width: 14rem;
  padding: 1.5rem;
  background-color: #EC183F;
  color: var(--white-color);
  word-wrap: break-word;
  font-size: 1rem;
	line-height: 2rem;
  text-align: center;
	z-index: 1;
	pointer-events: none;
}

.triangle-title-parent .triangle-title .container-values {
	text-align: end;
	z-index: 2;
}

.triangle-title-parent .triangle-title:nth-child(1) {
	width: 101%;
	background: linear-gradient(225deg, transparent 61%, #674ea7ff 61%),linear-gradient(-225deg, var(--border-color) 89%, transparent 50%);
	background-size: 100% 100%;
}

.triangle-title-parent .triangle-title:nth-child(2) {
	width: 90%;
	background: linear-gradient(225deg, transparent 45%, #1155ccff 44%),linear-gradient(-225deg, var(--border-color) 87.5%, transparent 50%);
}

.triangle-title-parent .triangle-title:nth-child(3) {
	width: 90%;
	background: linear-gradient(225deg, transparent 34%, #6fa8dcff 34%),linear-gradient(-225deg, var(--border-color) 76.5%, transparent 50%);
	background-size: 100% 100%;	
}

.triangle-title-parent .triangle-title:nth-child(4) {
	position: relative;
	width: 75%;
	background: radial-gradient(circle at 32.6rem 2.7rem,#828283 2.7rem,transparent 2.8rem),
	            linear-gradient(to right,#6aa84fff 85%,#6aa84fff 85%,transparent 91%,transparent 100%);
}

.triangle-title-parent .triangle-title:nth-child(4)::after {
	content: '';
	position: absolute;
	top: -0.5rem;
	left: 29.5rem;
	width: 6rem;
	height: 6rem;
	border: 0.7rem solid var(--white-color);
	border-radius: 50%;
}

.triangle-title-parent .triangle-title:nth-child(5) {
	width: 90%;
	background: linear-gradient(315deg, transparent 34%, #f1c232ff 34%),linear-gradient(-315deg, var(--border-color) 76.5%, transparent 50%);
	background-size: 100% 100%;	
}

.triangle-title-parent .triangle-title:nth-child(6) {
	width: 90%;
	background: linear-gradient(315deg, transparent 45%, #ff9900ff 44%),linear-gradient(-315deg, var(--border-color) 87.5%, transparent 50%);
	background-size: 100% 100%;	
}

.triangle-title-parent .triangle-title:nth-child(7) {
	width: 101%;
	background: linear-gradient(315deg, transparent 61%, #ed1941ff 61%),linear-gradient(-315deg, var(--border-color) 89%, transparent 50%);
	background-size: 100% 100%;
}

.parent-triangle .container-third-column {
	color: var(--color-text-neutral-medium);
	/* line-height: 2.6rem; */
	padding: 1rem;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	text-align: center;
	cursor: pointer;
	word-wrap: break-word;
	height: 98.5%;
}

.parent-triangle .container-third-column .third-column {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
}

.container-third-column .third-column:hover {
	transition: all 0.5s ease;
	transform: scale(1.1);
}

.one-item-cont-viab {
  margin-left: -18.5rem;
}

.two-item-cont-viab-one {
  margin-left: -20.5rem;
}

.two-item-cont-viab-two {
  margin-left: -16.5rem;
}

.three-item-cont-viab-one {
  margin-left: -22.5rem;
}

.three-item-cont-viab-two {
  margin-left: -18.5rem;
}

.three-item-cont-viab-three {
  margin-left: -14.5rem;
}

.four-item-cont-viab-one {
  margin-left: -24.5rem;
}

.four-item-cont-viab-two {
  margin-left: -20.5rem;
}

.four-item-cont-viab-three {
  margin-left: -16.5rem;
}

.four-item-cont-viab-four {
  margin-left: -12.5rem;
}

.five-item-cont-viab-one {
  margin-left: -26.5rem;
}

.five-item-cont-viab-two {
  margin-left: -22.5rem;
}

.five-item-cont-viab-three {
  margin-left: -18.5rem;
}

.five-item-cont-viab-four {
  margin-left: -14.5rem;
}

.five-item-cont-viab-five {
  margin-left: -10.5rem;
}

.six-item-cont-viab-one {
  margin-left: -28.5rem;
}

.six-item-cont-viab-two {
  margin-left: -24.5rem;
}

.six-item-cont-viab-three {
  margin-left: -20.5rem;
}

.six-item-cont-viab-four {
  margin-left: -16.5rem;
}

.six-item-cont-viab-five {
  margin-left: -12.5rem;
}

.six-item-cont-viab-six {
  margin-left: -8.5rem;
}

.one-item {
  margin-left: -13.1rem;
}

.two-items-one {
  margin-left: -15.1rem;
}

.two-items-two {
  margin-left: -11.1rem;
}

.three-items-one {
  margin-left: -17.1rem;
}

.three-items-two {
  margin-left: -13.1rem;
}

.three-items-three {
  margin-left: -9.1rem;
}

.four-items-one {
  margin-left: -19.1rem;
}

.four-items-two {
  margin-left: -15.1rem;
}

.four-items-three {
  margin-left: -11.1rem;
}

.four-items-four {
  margin-left: -7.1rem;
}

.five-items-one {
  margin-left: -21.1rem;
}

.five-items-two {
  margin-left: -17.1rem;
}

.five-items-three {
  margin-left: -13.1rem;
}

.five-items-four {
  margin-left: -9.1rem;
}

.five-items-five {
  margin-left: -5.1rem;
}

.six-items-one {
  margin-left: -23.1rem;
}

.six-items-two {
  margin-left: -19.1rem;
}

.six-items-three {
  margin-left: -15.1rem;
}

.six-items-four {
  margin-left: -11.1rem;
}

.six-items-five {
  margin-left: -7.1rem;
}

.six-items-six {
  margin-left: -3.1rem;
}

.one-item-evo {
	margin-left: -5.7rem;
}

.two-item-one-evo {
	margin-left: -7.7rem;
}

.two-item-two-evo {
	margin-left: -3.7rem;
}

.three-item-one-evo {
	margin-left: -9.7rem;
}

.three-item-two-evo {
	margin-left: -5.7rem;
}

.three-item-three-evo {
	margin-left: -1.7rem;
}

.four-item-one-evo {
	margin-left: -11.7rem;
}

.four-item-two-evo {
	margin-left: -7.7rem;
}

.four-item-three-evo {
	margin-left: -3.7rem;
}

.four-item-four-evo {
	margin-left: 0.30rem;
}

.five-item-one-evo {
	margin-left: -13.7rem;
}

.five-item-two-evo {
	margin-left: -9.7rem;
}

.five-item-three-evo {
	margin-left: -5.7rem;
}

.five-item-four-evo {
	margin-left: -1.7rem;
}

.five-item-five-evo {
	margin-left: 2.30rem;
}

.six-item-one-evo {
	margin-left: -15.7rem;
}

.six-item-two-evo {
	margin-left: -11.7rem;
}

.six-item-three-evo {
	margin-left: -7.7rem;
}

.six-item-four-evo {
	margin-left: -3.7rem;
}

.six-item-five-evo {
	margin-left: 0.3rem;
}

.six-item-six-evo {
	margin-left: 4.3rem;
}

.swal2-popup, .swal2-confirm {
	border-radius: 0 !important;
}

#block-olivero-content .form-submit {
	border-radius: unset;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color--primary-50);
	border-color: var(--color--primary-50);
	padding: 1.5rem;
	height: unset;
	/* background-image: linear-gradient(89deg,var(--main-text-color),var(--color--primary-50)); */
}

#block-olivero-content .form-submit:hover {
	transition: all 0.2s ease;
	transform: scale(1.01);
	cursor: pointer;
}

#block-olivero-content .is-disabled {
	display: none;
}

#block-olivero-content a {
	text-decoration: unset;
	color: var(--color-text-neutral-medium);
}

#block-olivero-content a:hover {
	color: var(--main-text-color);
}


.path-user .region--breadcrumb {
	display: none;
}

.path-user .select-results-form {
	display: flex;
	align-items: end;
	gap: 1.5rem;
}

.path-user .select-results-form .form-item {
	margin-block: 0.2rem;
}

.path-user .select-results-form .form-item__label {
	display: none;
}

.path-user .user-account-links ul li {
	list-style-type: none;
	text-align: center;
	box-shadow: 0.1rem 0.1rem 0.5rem var(--box-shadow-color);
	padding: 1.31rem;
	font-size: 1.1rem;
	width: 20.5rem;
	border: 1px solid var(--color--gray-60);
	background-color: var(--color--primary-50);
	cursor: pointer;
}

.path-user .select-results-form .user-account-links ul {
	margin-inline-start: unset;
}

.path-user .user-account-links ul li a {
	text-decoration: unset;
	color: var(--white-color);
}

.path-user .user-account-links ul li a:hover {
	text-decoration: unset;
}

.path-user .user-account-links ul li:hover {
	transition: all 0.5s ease;
	transform: scale(1.1);
}

.select-results-form select {
	text-align: center;
	border-radius: unset;
	box-shadow: 0.1rem 0.1rem 0.5rem var(--box-shadow-color);
	height: 4.5rem;
	font-size: 1.1rem;
	cursor: pointer;
	background-color: var(--main-text-color);
	color: var(--white-color);
}

.select-results-form select:hover {
	transition: all 0.5s ease;
	transform: scale(1.1);
}

/* Node hourglass explanation styles  */

.hourglass-explained-parent { 
	width: 30rem;
}

.hourglass-explained-parent .hourglass-title {
	display: grid;
	grid-template-columns: 8rem auto;
	border-bottom: 0.7rem solid var(--white-color);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.hourglass-explained-parent .hourglass-title {
	width: 115%;
	background-size: 100% 100%;
}

.hourglass-explained-parent .right-text {
	display: grid;
	grid-template-columns: 33% 34% 33%;
	justify-content: space-between;
}

.hourglass-explained-parent .inline-values-explained:hover {
	transition: all 0.5s ease;
	transform: scale(1.1);
}

.hourglass-explained-parent .inline-values-explained {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	margin-top: 0.87rem;
	margin-left: 7.6rem;
	border: 0.2rem solid var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	font-family: var(--poppins);
}

.hourglass-explained-parent .right-text .inline-values-explained {
	margin-left: 4.6rem;
}

.hourglass-explained-parent .right-text .text-start {
	text-align: start;
}

.hourglass-explained-parent .right-text .text-end {
	text-align: end;
}

.hourglass-explained-parent .hourglass-explained .container-values-explained {
	text-align: end;
	z-index: 2;
}

.hourglass-explained-parent p {
	font-family: var(--poppins);
}

.hourglass-title p, .hourglass-title p:first-child{
	margin-block-end: unset;
	margin-block-start: unset;
	font-size: 1.2rem;
}

.contribution-container-class .inline-values-explained {
  background-color: #674ea7ff;
}

.collaboration-container-class .inline-values-explained {
  background-color: #1155ccff;
}

.alignment-container-class .inline-values-explained {
  background-color: #6fa8dcff;
}

.evolution-container-class .inline-values-explained {
  background-color: #6aa84fff;
}

.performance-container-class .inline-values-explained {
  background-color: #f1c232ff;
}

.relationships-container-class .inline-values-explained {
  background-color: #ff9900ff;
}

.viability-container-class .inline-values-explained {
  background-color: #ed1941ff;
}

.hourglass-explained-parent .hourglass-title:nth-child(1) {
	background: linear-gradient(239deg,transparent 71%,#674ea7ff 64%),linear-gradient(-239deg,var(--border-color) 74.5%,#c9daf8ff 50%);
}

.hourglass-explained-parent .hourglass-title:nth-child(2) {
	background: linear-gradient(239deg,transparent 62%,#1155ccff 44%),linear-gradient(-239deg,var(--border-color) 65.5%,#c9daf8ff 50%);
}

.hourglass-explained-parent .hourglass-title:nth-child(3) {
	background: linear-gradient(239deg,transparent 53%,#6fa8dcff 34%),linear-gradient(-239deg,var(--border-color) 56.5%,#c9daf8ff 50%);
}

.hourglass-explained-parent .hourglass-title:nth-child(4) {
	background: radial-gradient(circle at 17.6rem 2.7rem,#828283 2.7rem,transparent 2.8rem),linear-gradient(to right,#6aa84fff 45%,#b6d7a8ff 100%,transparent 91%,transparent 100%);
}

.hourglass-explained-parent .evolution-container-class::after {
	content: '';
	position: absolute;
	margin-top: -0.4rem;
	margin-left: 3.34rem;
	width: 6rem;
	height: 6rem;
	border: 0.7rem solid var(--white-color);
	border-radius: 50%;
}

.hourglass-explained-parent .hourglass-title:nth-child(5) {
	background: linear-gradient(302deg,transparent 53%,#f1c232ff 34%),linear-gradient(-302deg,var(--border-color) 56.5%,#e7caac 51%);
}

.hourglass-explained-parent .hourglass-title:nth-child(6) {
	background: linear-gradient(302deg,transparent 62%,#ff9900ff 44%),linear-gradient(-302deg,var(--border-color) 65.5%,#e7caac 50%);
}

.hourglass-explained-parent .hourglass-title:nth-child(7) {
	background: linear-gradient(302deg,transparent 71%,#ed1941ff 61%),linear-gradient(-302deg,var(--border-color) 75%,#e7caac 50%);
}

.page-node-type-hourglass .grid-full {
	display: block;
}

.page-node-type-hourglass .node__content .explanation-group {
	display: grid;
	grid-template-columns: 35rem auto;
	margin-top: 2rem;
}

.field--name-field-second-part, 
.field--name-field-third-part,
.field--name-field-fourth-part,
.field--name-field-fifty-part,
.field--name-field-arrow-previous {
	display: none;
}

.page-node-type-hourglass .field--name-field-arrow, .page-node-type-hourglass .field--name-field-arrow-previous {
	cursor: pointer;
}

/* To cover 1170px screen */
.page-node-type-hourglass .node__content .text-content {
	height: 45rem;
}

.page-node-type-hourglass .node__content .text-content .field__item strong {
	font-size: 1.2rem;
	font-weight: 600;
}

.page-node-type-hourglass .explain-screen-1 p,
.page-node-type-hourglass .explain-screen-2 p,
.page-node-type-hourglass .explain-screen-3 p,
.page-node-type-hourglass .explain-screen-4 p,
.page-node-type-hourglass .explain-screen-5 p {
	font-family: var(--poppins);
	line-height: 1.9rem;
}

.page-node-type-hourglass .node__content .field__label {
	display: none;
}

.page-node-type-hourglass .node__content .pagination-group {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
}

.page-node-type-hourglass #block-olivero-page-title {
	display: none;
}

.page-node-type-hourglass .top-of-explanation {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.page-node-type-hourglass .field--name-field-hourglass-title {
	font-size: 1.2rem;
	font-weight: 600; 
}

.page-node-type-hourglass .field--name-field-hourglass-title .field:not(:last-child) {
	margin-block-end: 0.7rem;
}

.page-node-type-hourglas .top-of-explanation .field:not(:last-child) {
	margin-block-end: unset;
}

.page-node-type-hourglass .field--name-field-real-title-explanation {
	padding-bottom: 5rem;
	font-size: 3rem;
	font-weight: 600;
	color: var(--color-text-neutral-medium);
}

.page-node-type-hourglass .field--name-field-back-to-result-link {
	margin-block-end: unset;
	text-align: center;
	margin-top: 3rem;
	font-size: 1.4rem;
}

.page-node-type-hourglass .field--name-field-back-to-result-link:hover {
	transition: all 0.5s ease;
	transform: scale(1.1);
}

.path-result .title-results {
	text-align: center;
}

#block-olivero-page-title {
	display: none;
}

.path-result .explanation-result {
	text-align: center;
	margin-top: 2rem;
	font-size: 1.4rem;
}

.path-result .explanation-result:hover {
	transition: all 0.5s ease;
	transform: scale(1.1);
}

.path-result .explanation-result a {
	color: var(--color--primary-50);
	text-decoration: unset;
}

.path-result .explanation-result a:hover {
	color: var(--main-text-color);
}

/* Change language */
.lang-parent {
	display: flex;
	cursor: pointer;
}

.lang-parent .text-lang {
	padding-left: 1rem;
}

body:not(.is-always-mobile-nav) .primary-nav__menu-item .primary-nav__menu-link {
	font-size: 0.88rem; /*14px*/
}

body:not(.is-always-mobile-nav) .primary-nav__menu-item .primary-nav__menu--level-2 {
	width: 19rem;
	padding-top: 1rem;
}

.primary-nav__menu-link-inner, .primary-nav__menu-item .primary-nav__menu-link--nolink, .secondary-nav__menu-link {
	font-weight: 100;
}

.primary-nav__menu--level-2 .text-lang {
	color: var(--dark-color);
	font-size: 1rem;
}

.lang-parent .text-lang:hover {
  color: var(--main-text-color);
}

body:not(.is-always-mobile-nav) .primary-nav__menu-item .primary-nav__menu-🥕 {
	border-bottom: unset;
}

body:not(.is-always-mobile-nav) .primary-nav__menu-item .primary-nav__menu--level-2 {
	border-top: unset;
}

#block-olivero-main-menu .primary-nav__menu--level-1 .title {
	display: none;
}

#block-olivero-main-menu .primary-nav__menu--level-2 .title {
	color: var(--dark-color);
	display: block;
	font-weight: 600;
	font-size: 1.5rem;
}

/* Initial Menu */
.site-header__inner__container {
	background-image: linear-gradient(89deg, var(--main-text-color), var(--color--primary-50));
}

.site-header__inner__container .header-nav, .site-header__inner__container #block-olivero-site-branding {
	background: transparent;
}

.primary-nav__menu--level-1 .primary-nav__menu-item .primary-nav__button-toggle .icon--menu-toggle {
	background: transparent;
	color: var(--white-color);
}

.primary-nav__menu-item--level-1 .primary-nav__menu-link--nolink:hover {
	color: var(--main-text-color);
}

#header .site-header__initial, #header .site-header__initial .sticky-header-toggle {
	background: var(--main-text-color);
}

.primary-nav__menu-item--level-1 .primary-nav__menu-link--nolink, .secondary-nav__menu--level-1 a {
	color: var(--white-color);
}

.secondary-nav__menu--level-1 a:hover {
	color: var(--main-text-color);
}

#page-wrapper .container {
	max-width: unset;
}

#page #main-wrapper #main .social-bar {
	display: none;	
}

.dialog-off-canvas-main-canvas #page-wrapper {
	max-width: unset;
}

#page #main-wrapper #main .main-content {
	width: 1170px;
	margin: 0 auto;
}

body {
	background: var(--color--gray-10) !important;
}

/* Login page */

/* Selects an element that has a class of "user-login-form" */
:has(.user-login-form) .site-header__inner__container, :has(.user-login-form) .site-header__fixable,
:has(.user-login-form) .region--highlighted, :has(.user-login-form) #block-olivero-page-title,
:has(.user-login-form) .form-item-name, :has(.user-login-form) .form-item-pass,
:has(.user-login-form) .form-submit, :has(.user-login-form) .site-footer {
  /* Add your styles here */
  display: none;
}

:has(.user-login-form) #block-olivero-content .form-submit {
	display: none;
}

:has(.user-login-form) body {
	background: var(--white-color) !important;
}

:has(.user-login-form) #header {
	background-image: url(/sites/default/files/logo.png);
	background-repeat: no-repeat;
	background-size: 2.6rem;
	margin: 1.8rem 0 0 2.4rem;
}

:has(.user-login-form) #header::after {
	margin-left: 3.3rem;
  content: "CVA";
	font-size: 1.5rem;
	font-weight: 600;
	font-family: var(--poppins);
	color: #101828;
}

:has(.user-login-form) #page-wrapper .container {
	padding-block-start: unset;
}

:has(.user-login-form) .region--content {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

:has(.user-login-form) .layout--pass--content-medium > * {
	width: unset;
}

:has(.user-login-form) .welcome-cva h2 {
	color: #101828;
	font-size: 1.9rem;
	font-weight: 600;
	line-height: 2.4rem;
	margin-block: 1.56rem;
	margin-top: unset;
}

:has(.user-login-form) .login-acc p {
	color: #475467;
	font-size: 1rem;
	line-height: 1.5rem;
	font-family: Inter, sans-serif;
}

:has(.user-login-form) .before-login-form {
	text-align: center;
	width: 26.5rem;
	margin: 0 auto 3.5rem auto;
}

:has(.user-login-form) .before-login-form .user-login-form #google-signin-container .nsm7Bb-HzV7m-LgbsSe {
	width: 26.5rem !important;
	border-radius: 0.5rem;
	background: #ed1941;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.1rem solid #d0d5dd;
}

:has(.user-login-form) .before-login-form .user-login-form #google-signin-container .nsm7Bb-HzV7m-LgbsSe-Bz112c {
	background-color: unset;
	background-image: url(/sites/default/files/google.svg);
	background-repeat: no-repeat;
	background-size: 1.1rem;
	height: 1.3rem;
	width: 1.3rem;
}

:has(.user-login-form) .before-login-form .user-login-form #google-signin-container .nsm7Bb-HzV7m-LgbsSe-Bz112c svg {
	display: none;
}

:has(.user-login-form) .before-login-form .user-login-form #google-signin-container .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	background-color: unset;
	margin-right: 0.2rem;
}

:has(.user-login-form) .before-login-form .user-login-form #google-signin-container .nsm7Bb-HzV7m-LgbsSe-BPrWId {
	font-family: Inter, sans-serif;
	font-size: 16px;
	font-weight: 600;
}

:has(.user-login-form) .before-login-form .user-login-form #google-signin-container .nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb {
	width: unset;
}

/* Sign in as XPO button (after click the first time to login. */
.nsm7Bb-HzV7m-LgbsSe.MFS4be-v3pZbf-Ia7Qfc {
	background-color: #ed1941 !important;
}

:has(.user-login-form) .before-login-form .user-login-form #google-signin-container {
	display: flex;
	justify-content: center;
}

/* Footer */
.footer-container-bottom .footer-container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 3rem;
}

.footer-container-bottom .social-group {
	display: none;
	/* display: flex; */
	gap: 1.28rem;
}

.path-user #block-olivero-content article .form-no-label {
	display: none;
}

.footer-copyright p {
	margin: unset;
	font-family: var(--poppins);
	font-size: 0.8rem;
}

.footer-container-bottom .footer-copyright {
	text-align: right;
}

.page-wrapper .site-footer {
	padding: 4rem 4rem 0 4rem;
}

body:not(.is-always-mobile-nav) .page-wrapper .site-footer {
	border-inline-start: unset;
}

.social-youtube,
.social-linkedin,
.social-instagram,
.social-facebook,
.social-twitter {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-color);
}

.social-youtube:hover,
.social-linkedin:hover,
.social-instagram:hover,
.social-facebook:hover,
.social-twitter:hover {
	background-color: #ed1941;
	cursor: pointer;
}

/* Main Logo */
.site-branding__inner .site-branding__text {
	font-size: 1.68rem;
	margin-top: 0.4rem;
}

/* Remove the border on after my account/logout */
.secondary-nav__menu .secondary-nav__menu-link:after {
	border-top: unset;
}

.breadcrumb__list .breadcrumb__link {
	font-size: 1rem;
	color: var(--color--primary-50);
}

.breadcrumb__list .breadcrumb__link:hover {
	color: var(--main-text-color);
	text-decoration: unset;
}

.path-user #block-olivero-primary-local-tasks,
.path-user #block-useraccountblock,
.path-user #block-olivero-content {
	display: flex;
	justify-content: center;
}

body:not(.path-user) #block-useraccountblock {
	display: none;
}

/* Explanation screen */
.explanation-content {
	box-shadow: 0.1rem 0.1rem 0.5rem var(--box-shadow-color);
	padding: 0.2rem 1.2rem;
}

.main-content .container {
	padding-inline: unset;
}
